@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bodoni+Moda:opsz@6..96&family=Caveat&family=Dancing+Script:wght@400;700&family=Fuggles&family=Handjet:wght@300&family=Libre+Baskerville:ital@1&family=Libre+Bodoni:wght@500&family=Metamorphous&family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;400;500;700&family=Sevillana&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bodoni+Moda:opsz@6..96&family=Caveat&family=Dancing+Script:wght@400;700&family=Fuggles&family=Handjet:wght@300&family=Libre+Baskerville:ital@1&family=Libre+Bodoni:wght@500&family=Metamorphous&family=Poppins:wght@300;400;500;700&family=Rethink+Sans:wght@800&family=Roboto:wght@100;400;500;700&family=Sevillana&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
    color: black;
}

*::selection{
    color: white;
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;

}
#nav{
    /* height: 100px; */
    width: 100%;
    position: fixed;
    /* background-color: seagreen; */
    z-index: 9;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#nav-part1{
    /* background-color: salmon; */
    height: 83px;
    overflow: hidden;
}
#nav-part1 svg{
    display: block;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

#links{
    padding: 10px;
}

#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav #nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 16px;
    margin: 0 20px;
    position: relative;

}

#nav #nav-part2 #links a::after{
    content: "";
    width:0%;
    height: 0.1vw;
    position: absolute;
    bottom: -15%;
    left: 0%;
    background-color: grey;
    transition: width 0.2s linear;
    
    /* color: black; */

}

#nav #nav-part2 #links a span{
    padding-left: 0.5vw;
    /* width: 0%;
    height: 0%; */
    /* display: none; */
    color: grey;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}
#nav #nav-part2 #links a:hover span{
    opacity:1;
}
#nav #nav-part2 #links a:hover::after{
    width: 80%;
}

#nav #nav-part2 #links a:hover{
    color:#333;
    font-weight: 900;
}

#nav #nav-part2 #icons i{
    font-size: 18px;
    margin: 0px 20px;
    font-weight: 100;
}

#dropdown{
    width: 100%;
    min-height: 100vh;
    background-color: teal;
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9;
    display: none;
    
}

#dropdown a{
    font-size: 8vw;
    font-weight: 900;
    text-decoration: none;
    display: block;
    font-family: 'helvetica';
    display: flex;
    align-items: center;
    justify-content: center;

}
#dropdown a:hover{
    background-color: black;
    color: white;
    width: 100%;
}














#cursor{
    height: 170px;
    width: 170px;
    background-color: #ede6e6;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    scale: 0;
    /* z-index: 9; */
}

#page1{
    min-height: 100vh;/*kam se kam itni height, isse jyada apne aap adjust karega  */
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
    /* background-color: teal; */
    

}

#page1 h1{
    font-size: 16.5vw;
    text-transform: uppercase;
    font-family: 'helvetica';
    line-height: 14vw;
    letter-spacing: -20px;
}

#video-container{
    height: 100vh;
    width: 100%;
    background-color: gray;
    margin-top: 1vw;
    position: relative;

}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2vw;
    background-color: black;
    color: #fff;
    font-size: 2.3vw;
    text-transform: uppercase;
    font-family: futura;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;


}

#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top: solid 0.5vw black; */
    /* background-color: red; */
}
#page2 .elem{
    height: 100%;
    width: 31%;
    position: relative;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    /* background-color: red; */
}

#page2 .elem .dets{
    height: 20vw;
    width: 60%;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    /* opacity: 0; */
    z-index: 9;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* overflow: hidden; */
    /* background-color: #e5f0d6; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
 
    
}

#page2 .elem .dets .top{
    height: 15%;
    width: 100%;
    background-color: #e5f0d6;
    /* position: absolute; */
    padding: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page2 .elem .dets .top .dot{
    background-color: black;
    border-radius: 50%;
    width: 0.8vw;
    height: 0.8vw;
}
#page2 .elem .dets .top h1{
    font-size: 0.9vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}

#page2 .elem .dets .bottom{
    width: 100%;
    height: 85%;
    background-color: #e5f0d6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-duration: 0.5s;

    /* display:none; */
}

#page2 .elem .dets .bottom img{
    width: 40%;
    height:80%;
    /* border: 2px solid grey; */
    /* border-radius: 10px; */
    padding: 0.5vw;
    /* background-color: aqua; */
}
#page2 .elem .dets .bottom .ig1{
    border-right: solid 1.6px grey;
}
#page2 .elem .dets:hover .bottom{
    opacity: 1;
}

#page3{
    min-height: 140vh;
    width: 100%;
    /* background-color: #F7F7F7; */
    /* background-color: saddlebrown; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 60vh;
    width: 38vw;
    /* background-color: palegreen; */
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #333;
    padding-bottom: 1.5vw;
    /* border-bottom:20vw; */
    

    /* overflow: hidden; */

}
.child h1{
    font-size: 1.1vw;
    text-transform: uppercase;
    color: #333;
    /* word-spacing: 0.5vw; */
    
    
}
#child1{
    /* background-color: yellow; */
    
}
#child2{
    /* background-color: green; */
      
}
#child3{
    /* background-color: red; */
    
}
#child4{
    /* background-color: blue; */
    
}
.child img{
    height: 90%;
    /* width: 100%; */
    object-fit: cover;
    /* background-color: crimson; */
    
    

}


#page4{
    /* background-color: teal; */
    min-height: 60vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 10vw;
    padding: 3vw 1vw;
}

#page4 .left{
    /* background-color: red; */
    width: 50vw;
}
#page4 .right{
    /* background-color: green; */
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3vw;
}

#page4 .left h1{
    font-size: 4vw;
    font-weight: bolder;
    font-family: 'Rethink Sans';
    
}

#page4 .right p{
    font-size: 1.2vw;
    font-weight: 900;
    color: black;
    line-height: 1.5vw;
    text-align: justify;
    font-weight: bolder;
}

#page4 .right button{
    width: 10vw;
    height: 4vw;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    padding: 1vw;
    border: none;
    border-radius: 5vw;
    font-family: 'Barlow';
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

}
#page4 .right button:hover{
    background-color: transparent;
    border: 1px solid black; 
    color: black;
    transition-timing-function: linear;

    transition-duration: 0.2s;

    
}

#page5{
    /* background-color: salmon; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page5 .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1vw 1vw;
   
}
#page5 .top h1{
    font-size: 1vw;
    color: black;
}

#page5 .bottom{
    width: 100%;
    height: 0.1vw;
    background-color: #333;
}

/* page6 styling */

#page6{
    /* background-color: teal; */
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: flex-start;
    
    flex-direction: column-reverse;
}
#page6 .top{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 0vw 1vw;
    height: 5%;
}

#page6 .top h1{
    font-size: 1vw;
    color: black;
    padding-bottom: 0.1vw;
}
#page6 .middle{
    width: 100%;
    height: 0.1vw;
    background-color: #333;
    /* background-color: green; */
}
#page6 .bottom{
    width: 100%;
    /* background-color: yellow; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* position: relative; */
}
#page6 .bottom .img{
    /* display: none; */
    width: 100%;
    /* position: relative; */
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}
#page6 .bottom .img .detail h1{
    /* width: 100%;
    height: 100%; */
    position: absolute;
    color: white;
    left: 36%; 
    /* transform: translate(50%,50%); */
    /* background-color: palegoldenrod; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    font-size: 2vw;
    font-weight: 900;
    font-family: 'roboto';
    text-align: center;
}
#page6 .bottom .img .detail img{
    /* display: none; */
    /* background-color: palegreen; */
    color: white;
}
#page6 .bottom .img .detail{
    /* background-color: pink; */
    position: absolute;
    transform: translate(2.5vw,2vw);
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: flex-start;
    z-index: 9;
}

#page6 .bottom .img1{
    /* background-color: aqua; */
    width: 90%;
    height: 50%;
}

#page6 .bottom .img2{
    animation: rtt 10s linear infinite;
}

@keyframes rtt {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

/* page7 styling */
#page7{
    width: 100%;
    min-height: 80vh;
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
#page7 .top{
    width: 70%;
    /* background-color: red; */
    text-align: center;
}

#page7 .top h1{
    padding: 2vw;
    font-size: 5vw;
    font-weight: bolder;
    font-family: 'Rethink Sans';
    text-transform: uppercase;
    
}
#page7 .bottom{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 1vw;
}
#page7 .bottom p{
    font-size: 1.2vw;
    font-weight: 900;
    color: black;
    line-height: 1.5vw;
    text-align: center;
    
    padding: 1vw;
    
}
#page7 .bottom  button{
    width: 20vw;
    height: 4.2vw;
    background-color: black;
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
    border-radius: 3vw;
    padding: 1vw;
}
#page7 .bottom  button:hover{
    background-color: transparent;
    border: 1px solid black; 
    color: black;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}


/* page7 styling */

#page8{
    /* background-color: teal; */
    min-height: 95vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 5vw 1vw;
    padding-right: 3vw;
    /* padding-left: 3vw; */

    /* gap: 5vw; */
    
}

#page8 .left{
    /* background-color: pink; */
    width: 25%;
    height: 80vh;
    padding-right:  1vw;
   
}
#page8 .left h1{
    font-size: 2vw;
    font-weight: 600;
    font-family: 'helvetica';
    text-align: justify;
}
#page8 .left h2{
    font-size: 1.2vw;
    font-weight: 600;
    color: #333;
    text-align: justify;


}
#page8 .left h3{
    font-size: 0.9vw;
    font-weight: 900;
    color: black;
    text-align: justify;
}
/* #page8 .left h3::after{
    width: 10vw;
    height: 5vw;
    background-color: black;
    color: black;
    position: absolute;
} */
#page8 .left h3:hover{
    
    text-decoration: underline;
    
}

#page8 .right{
    width: 65%;
    /* position: relative; */
    /* background-color: red; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;


    /* height: 100%; */
    /* width: 31%; */
    position: relative;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page8 .right img{
   height: 40%;
    width: 40%;
    object-fit: cover;
    /* overflow: hidden; */
    /* scale: 1.1; */
    /* background-color: red; */
    /* background-color: yellow; */
    /* border-radius: 0.5vw; */
}

#page9{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
}
#page9 .left,#page9 .right{
    /* background-color:green; */
    display: flex;
    flex-direction: column;
    
}
#page9 .left a,#page9 .right a{
    font-size: 1vw;
    color: black;
    font-weight: 900;
    text-decoration: none;
}
#page9 .left span{
    padding-right: 1vw;
    font-size: 1.5vw;
}
#page9 .left h1, .right h1{
    font-size: 1vw;
    color: black;
    line-height: 1.5vw;
    font-weight: 900;
}
#page9 .middle{
    /* border-color: blue; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#page9 .left h1:first-child , .right h1:first-child{
    text-transform: uppercase;
    font-size: 1.1vw;
    font-weight: 900;
    color:black;
    

}

#page9 a:hover{
    color: #333;
    font-size: 1.05vw;
    
}
#page9 .right{
    /* background-color: red; */
    text-align: right;
    line-height: 1.8vw;
   

}
#page9 .middle img{
    width: 30%;
    height: 30%;
}


#page10{
    /* background-color: teal; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 40vh;

}
#page10 .top{
    /* background-color: green; */
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vw;
    
}
#page10 .top h1{
    font-size: 1vw;
    color: #333;
}
#page10 .top h1:hover{
    color: black;
}
#page10 .bottom{
    /* background-color: yellow; */
    width: 70%;
}
#page10 .bottom p{
    font-size: 1.1vw;
    font-weight: 500;
    color: black;
    text-align: center;
    line-height: 1.5vw;
    padding: 2vw;
    font-family: 'helvetica';
}


#page20{
    min-height: 50vh;
    /* background-color: aquamarine; */
} 





















/* div .child > * {
    background-color: rebeccapurple;
    
} */

